.tableTitle {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background-color: lightslategray;
  margin-top: 10px;
}

html {
  background-color: lightslategray;
}

.homeText {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background-color: lightslategray;
  margin-top: 10px;
}
